{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>

<html>
  
  <head>
    <title>Data Visualization</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="viz.css">
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
      <h4><div class="contact-icon"></div>Contact Info</h4>
      <pre> If you have any comments, requests or questions, contact us at : </pre>
      <p> Premieremail@gmail.com or Deuxiemeemail@gmail.com</p>
  
  </body>
  </html>
      
{% endblock %}